* body {
    background-color: lightgrey;
    margin: 26px;
}

header {
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding: 20px;
}