* body {
    background-color: lightgrey;
    margin: 26px;
}

header {
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding: 20px;
}

.today-1 {
    border: 4px solid green;
    padding: 15px;
    background-color: white;
}